<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=">
    <title></title>
    <script type="text/javascript" src="../../../fusioncharts/fusioncharts.js"></script>
    <script type="text/javascript" src="../lib/fusioncharts/themes/fusioncharts.theme.fint.js"></script>
  </head>
  <body>
    <div id="chartContainer">FusionCharts XT will load here!</div>
  </body>
  <script type="text/javascript">
    var getChartConfig = function(chartJson) {
      if (chartJson.chart) {
        return chartJson.chart;
      } else if (chartJson.dataSource && chartJson.dataSource.chart) {
        return chartJson.dataSource.chart;
      }
    }

    var returnResult = function(result) {
      window.callPhantom(result);
    }

    var onError = function(errorEvent) {
      returnResult({result: false, error: {type: errorEvent.eventType}});
    }

    var errorEvents = ['noDataToDisplay', 'dataInvalid', 'dataLoadRequestCancelled', 'dataLoadCancelled', 'dataLoadError'];

    window.addEventListener('load', function() {
      FusionCharts.ready(function(){
        var chartJson = JSON.parse(env.chartJson);
        var chartConfig = getChartConfig(chartJson);
        if (!chartConfig) {
          returnResult({result: false, error: {type: 'invaliddataformat'}});
        }

        chartJson.renderAt = 'chartContainer';
        chartConfig.animation = 0;

        var chart = new FusionCharts(chartJson);
        chart.addEventListener('renderComplete', function() {
          returnResult({result: true, svg: chart.getSVGString()});
        });

        errorEvents.forEach(function(event) {
          chart.addEventListener(event, onError);
        });

        chart.render();
      })
    });
  </script>
</html>
